old code dump/
*.class
*.~lock*
**/__pycache__/
**/spice_inveiglers_scores.tsv
workings/
TAS/workings/
FlashThrottlesRailCom.py
TAS/config/*.tsv
TAS/config/*State.txt
TAS/config/*.bak*
_TAS-migration-backup/
